/* Index*/
body{
    background-color: lightblue;
}
.container-fluid {
    border: 0;
    padding: 0;
    margin: 0;
}

/* potrait */
#potrait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
#potrait img {
    background-image: cover;
    border-radius: 60%;

}

/* title and intro */
#title {
    background-color: yellow;
    text-align: center;
    color: lightblue;
    padding: 10px;
}
#label {
    display: flex;
    flex-direction: column;
}
#elevator {
    background-color: yellow;
    color: lightblue;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}
#skills {
    margin-top: 10px;
    text-align: center;
}

/* start of nav */
#v-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#v-navbar nav{
    border: 0;
    padding: 20px;
    margin-top: 20px;
    background-color: yellow;
    width: auto;
    border-radius: 10%;
}
#v-navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
    line-height: 200%;
}
#v-navbar nav ul li a {
    color: lightblue;
}

/* footer */
footer {
    margin-top: 20px;
    padding: 20px;
    background: yellow;
    display: flex;
    flex-direction: column;
    color: lightblue;
}
    /* makes the phone email and linked in center */
.footer-items {
    display: flex;
    align-self: center;
}
#phone i {
    margin-right: 10px;
    line-height: 20px;
}
#email i{
    margin-right: 10px;
    line-height: 25px;
}
.btn  {
    margin: 10px;
    background: #007bb5;
    align-items: center;
    color: lightblue;
    width: 20%;
    align-self: center;
}
  .fa {
  padding: 10px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* End of index */

/* About me */
#h-navbar {
    background: yellow;
    padding: 15px;
}
#h-navbar a {
    color: lightblue;
}
h2, h4 {
    color: yellow;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
#main {
    color: yellow;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#attributes {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    text-align: center;
}
/* 20rem for each div so that they can share screen space */
#holland {
    background: red;
    padding: 10px;
    width: 20rem;
    margin: 5px;
}
#myers {
    background: black;
    padding: 10px;
    width: 20rem;
    margin: 5px;
}
#interest {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
#outdoors {
    background:red;
    padding: 10px;
    width: 20rem;
    margin: 5px;
}
#running {
    background: black;
    padding: 10px;
    width: 20rem;
    margin: 5px;

}
/* Adjust the contents inside the card */
card {
    display: flex;
    justify-content: center;
}
figure {
    align-self: center;
}
#interest img {
    height: 350px;
    width: 275px;
}
/* End of About me */

/* Work Experience */
/* carousel section */

.carousel-image {
    height: 80vh;
    min-height: 500px;
    /* height: 800px;
    width: 1500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#carousel-image1 { 
    background-image: url(image/semisub.jpg);
}
#carousel-image2 { 
    background-image: url(image/drillfloor1.jpg);
}
#carousel-image3 { 
    background-image: url(image/drillfloor2.jpg);
}
#carousel-image4 { 
    background-image: url(image/work.jpg);
}
.carousel-caption {
    padding: 10px;
    background: rgb(255, 255, 255, 0.5);
    color: black;
    width: 30%;
    /* text-align: center; */
}
/* main body */
#work-ex {
    flex-direction: column;
}
#logo {
    display: flex;
    justify-content: center;
}
#logo img {
    height: auto;
    width: 500px;
    padding: 10px;
}
#description {
    display: block;
    color: yellow;
    padding: 20px;
    margin: 10px;
}
/* End of work-experience */

/* self-development */
.self-dev {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.dev-logo {
    width: 300px;
    height: auto;
    margin-right: 30px;
}
.des {
    padding: 10px;
}
#race-logo {
    background: black;
    height: 200px;
}

