/* Index*/
body{
    background-color: white;
}
#h-navba {
    background: #162252;
    margin-bottom: 15px;
}
#h-navbar img {
    height: 50px;
}
.nav-brand, #h-navbar a {
    font-size: 18px;
    color: white;
    font-family: 'PT Serif Caption', serif;
}
#h-navbar a:hover {
  color: #718daa;
}
#over {
    margin: 20px;
}
#top {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#mid{
    max-width: 500px;
}
#photo {
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: #1B3F8B;
  padding: 10px;
  border: 1px black solid;
  font-family: 'PT Serif Caption', serif;
}
#photo img {
  background: #A9A9A9;
  border: 1px black solid;
}

#elevator {
    color: #1B3F8B;
    height: 50%;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    max-width: 500px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border: none !important;
}
#elevator h3 {
    font-size: 2em;
    font-family: 'PT Serif Caption', serif;
}
#skills {
    margin-top: 10px;
    text-align: center;
}
#skills img {
    height: 1.5em;
}
#skills i {
    margin-right: 5px;
}

/* footer */
footer {
    margin-top: 20px;
    padding: 20px;
    background:#162252;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
    /* makes the phone email and linked in center */
.footer-items {
    display: flex;
    align-self: center;
}
#phone i {
    margin-right: 10px;
    line-height: 20px;
}
#email i{
    margin-right: 10px;
    line-height: 25px;
}
.btn  {
    margin: 10px;
    background: white;
    align-items: center;
    color: #162252;
    width: 150px;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
}
  .fa {
  padding: 10px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* End of index */

/* About me */
h2 {
    background: #1B3F8B;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'PT Serif Caption', serif;
}

 h4 {
    color: #1B3F8B;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: 'PT Serif Caption', serif;
    
}
#main {
    color: white;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
#attributes {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#attributes h5 {
    text-align: left;
    margin-bottom: 15px;
}
/* 20rem for each div so that they can share screen space */
#holland,  #myers, #outdoors, #running  {
    background: #023e7d;
    padding: 10px;
    width: 20rem;
    margin: 5px;
}
#holland li, #myers li {
    line-height: 30px;
    text-align: left;
    margin-left: 85px;
}
#interest {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
/* Adjust the contents inside the card */
card {
    display: flex;
    justify-content: center;
}
figure {
    align-self: center;
}
#interest img {
    height: 350px;
    width: 275px;
}
figcaption {
    margin-top: 10px;
    text-align: left;
}
/* End of About me */

/* Work Experience */
#picture {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.collage img {
    width: 350px;
}

/* main body */
#work-ex {
    flex-direction: column;
}
#logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#logo img {
   height: auto;
    width: 45vh;
    padding: 10px;
}
#description {
    display: flex;
    justify-content: center;
    color: #1B3F8B;
    padding: 20px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}
/* End of work-experience */

/* self-development */

.self-dev {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.dev-inner {
    max-width: 1000px;
}
#sp-dev-inner {
    max-width: 830px;
}
.dev-logo {
    width: 300px;
    height: auto;
    margin-right: 30px;
}
.des {
    max-width: 500px;
    padding: 10px;
    margin-top: 10px;
    color: #1B3F8B;
    font-family: 'Open Sans', sans-serif;
}
.des a {
    color: #1B3F8B;
    font-weight: bold;
}

#race-logo {
    background: black;
    height: 200px;
}
/* end of self development */

/* education */
video {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

