@media only screen and (min-width: 700px) {
    /* index page */
    /* title */
    #top {
        display: flex;
        flex-direction: column;
    }
    #mid {
         /* width: 50%; */
         align-self: center;
    }
    #elevator {
        align-self: center;
    }


        /* Elevator pitch */
    #skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    #skills p {
        margin: 10px;
    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* end of index */

    /* about me page*/
    #attributes {
        flex-direction: row;
        justify-content: center;
    }
    #interest {
        flex-direction: row;
    }
    /* end of about me page */

    /* Work experience page*/
    /* #logo img {
        height: auto;
        width: 50vh;
    } */




    /* #description {
        margin-right: 50px;
    } */
    /* end of work experience page */

    /* self development page */

    .self-dev {
        flex-direction: row;
        justify-content: center;
        margin: 50px;
    }
    .dev-inner {
    display: flex;
    justify-content: flex-start;
    /* flex-direction: row; */
    }
    .des {
    padding: 0;
    /* display: flex; */
    }

}

@media only screen and (min-width: 900px) {
    /* for index */

    #top {
       flex-direction: row;
        /* margin: 5px; */
    }
    #elevator {
        height: 50%;
        font-size: 1.5em;

      }
      #elevator {
      transform: translate(100px, 5px);
      }
      #elevator h3 {
        font-size: 3em;
      }

      /* Work Experience */
      #logo img {
          width: 60vh;
      }
}