@media only screen and (min-width: 600px) {
    /* index page */
    /* title */
    #label {
    flex-direction: row;
    justify-content: center;
    }
     #label p {
    margin: 10px;
    }

        /* Elevator pitch */
    #skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    #skills p {
        margin: 10px;
    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* end of index */

    /* about me page*/
    #attributes {
        flex-direction: row;
    }
    #interest {
    flex-direction: row;
    }
    /* end of about me page */

    /* Work experience page*/
    /* carousel secton */
    .carousel-image {
        height: 90vh;
    }
    #description {
        margin: 50px;
    }
    /* end of work experience page */

    /* self development page */
    .self-dev {
        flex-direction: row;
        margin: 50px;
    }
    .des {
    padding: 0;
    }

}