@media only screen and (min-width: 600px) {
    /* title */
    #label {
    flex-direction: row;
    justify-content: center;
    }
     #label p {
    margin: 10px;
    }

        /* Elevator pitch */
    #skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    #skills p {
        margin: 10px;
    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* About me */
    #attributes {
        flex-direction: row;
    }
    #interest {
    flex-direction: row;
    }

    /* Work experience */
    /* carousel secton */
    .carousel-image {
        height: 90vh;
    }
    #description {
        margin: 50px;
    }
    
}